.posts-container{
  content: "";
  display: table;
  clear: both;

}


.form-post-container{
  margin-top: 20%;
  margin-top: 5%;
  margin:1%;
  padding: 2%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: oldlace;
  border-radius: 15px;
  .form-post{
  }

}
