.container.login-form-container
  .row
    .col-xs-12.col-sm-4.offset-sm-4.form-devise

      %h2 Update your information

      = render 'form'

      = link_to 'Show', @user

      = link_to 'Back', root_path

      = link_to "Edit your password" ,edit_user_registration_path
