
.card-post {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin:2%;
  justify-content: space-between;
}

.card-post img {
  height: 100%;
  width: 60%;
  object-fit: cover;
  float:right;
}

.card-post h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-post p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-post .card-post-infos  {
  color: black;
  padding: 16px;
}
