
// TODO remove or use this
.article{
  border-top: 0;
  padding-top: 0;
  margin-bottom: 28px;
  content: "";
  display: table;
  clear: both;
  display: block;

  -webkit-text-size-adjust: 100%

  span {
    font-family: Portrait Inline,sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
  .article_hero {
    float: right;
    width: 60%;
    .article_hero_image {
      height: 0;
      padding-bottom: 48%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .article_info {
    margin-right: 60%;
    padding-right: 20px;
    display: block;
    .article_title {
      font-size: 2.375em;
      margin: 0 0 20px;
      color: #010101;
      font-family: Portrait,serif;
      font-style: normal;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
    }
    .article_deck {
      font-size: 1.125em;
      line-height: 1.2em;
      font-family: Portrait Text,serif;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
    }
    .article_meta {
      color: #666;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-size: .6875em;

    }
  }
}



.card-post {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin:2%;
  justify-content: space-between;
}

.card-post img {
  height: 100%;
  width: 60%;
  object-fit: cover;
  float:right;
}

.card-post h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-post p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-post .card-post-infos  {
  color: black;
  padding: 16px;
}
