
.container.posts-container
  %h1 Exclusive articles from other watch entusiasts
  = link_to 'Go to our Sponsor\'s posts page', sponsors_posts_path, class: 'btn btn-white'

  %div{'data-controller':'infinite-scroll', 'data-action':'scroll@window->infinite-scroll#scroll' }
    %div{'data-target':'infinite-scroll.entries'}
      = render partial: 'posts'
    %div{'data-target':'infinite-scroll.pagination'}
      = pagy_bootstrap_nav(@pagy).html_safe
